# Віртуальне оточення (найважливіше!)
.venv/
venv/
ENV/

# Кеш Python (автоматично згенеровані файли)
**/__pycache__/
*.py[cod]
*$py.class

# Файли конфігурації VS Code (за бажанням, якщо налаштування суто твої локальні)
.vscode/

# Системні файли Linux Mint / Ubuntu
.DS_Store
.directory
*~
*.swp